<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/bacon">
        <img alt="baconMan"class="baconMan img-rounded" src="/assets/images/baconMan.png">
      </a>
      <a href="/bacon"> 
      	<h1 class= "brand-text">Bacon's List</h1>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=" navbar-menu"><a href="/buy">BUY <span class="sr-only">(current)</span></a></li>
        <li class= "navbar-menu"><a href="/sell">SELL</a></li>
      </ul>
      <button type="button" class="btn btn-default navbar-btn navbar-right signout-btn" id="signout">
        SIGN OUT
      </button>
      <button type="button" class="btn btn-default navbar-btn navbar-right" id="sign-in-btn">
      	<i class="fa fa-facebook-square"></i>SIGN IN
      </button>
      
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="clearFloat">
		</div>
		{{!-- <div class="col-xs-6 col-md-4 text-center" class="task"> --}}
    <div class="col-xs-12 text-center" class="task">
			<div class="row">
			  {{#each bacon}}
			  	{{#unless this.sold}}
            <div id="itemContainer" class="col-xs-3 text-center">
              <div><img src={{this.item_image}} alt="Item image" height="140"></div><br>
              <div>{{this.item_name}} <br> ${{this.item_price}}</div>
              <form  class="button-size">
                {{!-- <input input type="hidden" type="text" name="bacon_id" value={{this.item_id}}><br> --}}
                <button id={{this.item_id}} class="buy-it-btn-color" type="button" class="btn btn-warning" >Buy it!</button>
              </form>
              
                  <!-- {{this.Date}} -->
            </div>
            {{!-- <div class="col-xs-3 text-center">
            </div> --}}
          <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">Confirm Purchase</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src={{this.item_image}} alt="Item image" height="140"> 
                      <p>{{this.item_name}}</p>
                      <p>${{this.item_price}}</p>
                    </div>
                    <div class="modal-footer">
                      <form method="POST" action="/bacon/update?_method=PUT">
                          <input input type="hidden" type="text" name="bacon_id" value={{this.item_id}}><br>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-primary">Purchase</button>
                      </form>
                    </div>
                </div>
              </div>
            </div>
          {{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			  
		</div>
	</div>
</div>

<div class="container">
	
</div>

<script>
$("#sign-in-btn").html(localStorage.getItem("name"));

$("#itemContainer .buy-it-btn-color").on("click", function() {
  $('#myModal .modal-body').html($(this).closest("div").html());
  $('#myModal').modal('show');
});

</script>