<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/bacon">
        <img alt="baconMan"class="baconMan img-rounded" src="/assets/images/baconMan.png">
      </a>
      <a href="/bacon"> 
        <h1 class= "brand-text">Bacon's List</h1>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=" navbar-menu"><a href="/buy">BUY <span class="sr-only">(current)</span></a></li>
        <li class= "navbar-menu"><a href="/sell">SELL</a></li>
      </ul>
      <button type="button" class="btn btn-default navbar-btn navbar-right signout-btn" id="signout">
        SIGN OUT
      </button>
      <button type="button" class="btn btn-default navbar-btn navbar-right" id="sign-in-btn">
        <i class="fa fa-facebook-square"></i>SIGN IN
      </button>
      
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="clearFloat">
		</div>
    <div class="col-xs-12 text-center" class="task">
			<div class="row">
			  {{#each bacon}}
			  	{{#unless this.sold}}
            <div id={{this.item_id}} class="col-xs-3 text-center itemContainer" >
              <div id="itemImage"><img src={{this.item_image}} alt="Item image" height="140"></div><br>
              <div id="itemName">{{this.item_name}}</div>
              <div id="itemPrice">${{this.item_price}}</div>
              <form  class="button-size">
                <button id={{this.item_id}} class="buy-it-btn-color" type="button" class="btn btn-warning" >Buy it!</button>
              </form>
                  <!-- {{this.Date}} -->
            </div>
          {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Confirm Purchase</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <form id="purchaseForm" method="POST" action="/bacon/update?_method=PUT">
              <input input id="itemID" type="hidden" type="text" name="bacon_id"><br>
              
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button id="purchaseBtn" type="submit" class="btn btn-primary">Purchase</button>
          </form>
        </div>
    </div>
  </div>
</div>

<script>
$("#sign-in-btn").html(localStorage.getItem("name"));

$(".buy-it-btn-color").on("click", function() {
  var image = $(this).closest('.col-xs-3').find('#itemImage').html();
  var name = $(this).closest('.col-xs-3').find('#itemName').html();
  var price = $(this).closest('.col-xs-3').find('#itemPrice').html();
  var id = $(this).closest('.col-xs-3').attr('id');
  $('#myModal .modal-body').html('<div class="modalBody" id=' + id + '<p>' + image + '</p><p>' + name + '</p><p>' + price + '</p>');
  $('#myModal').modal('show');
});

$("#myModal").on("shown.bs.modal", function() {
  $(this).find('#itemID').val($(this).find('.modal-body > .modalBody').attr('id').slice(0,-2));
  console.log("id: " + $(this).find('.modal-body > .modalBody').attr('id').slice(0,-2));
});

$("#purchaseBtn").on("click", function() {
  $("#purchaseForm").submit();
});

</script>